<div class="left-nav">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Material 1
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li><a>Material Selection</a></li>
      <li><a>Material Details</a></li>
      <li><a>Authorization</a></li>
      <li><a>Packing Instructions</a></li>
      <li><a>Packing Details</a></li>
    </ul>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Material 2
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li><a>Material Selection</a></li>
      <li><a>Material Details</a></li>
      <li><a>Authorization</a></li>
      <li><a>Packing Instructions</a></li>
      <li><a>Packing Details</a></li>
    </ul>

  </mat-expansion-panel>

</div>