<section class="signup-form container">
  <h2>Handling Unit 1/3</h2>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div fxLayout="column" fxFlex.gt-xs="33%" fxHide.xs fxLayoutGap="20px">

      <app-left-nav></app-left-nav>

    </div>

    <div fxLayout="column" fxFlex.gt-xs="66%" fxFlex.xs="100%" fxLayoutGap="20px">

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'PAGE1.YOUR_NAME' | translate }}" [(ngModel)]="user.name"
          name='name' #nameInput="ngModel" required>
        <mat-error *ngIf="nameInput.hasError('required')">{{ 'PAGE1.FIELD_NOT_EMPTY' | translate }}</mat-error>
        <mat-error *ngIf="!nameInput.hasError('required')">{{ 'PAGE1.FIELD_NAME_INVALID' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="email" matInput placeholder="{{ 'PAGE1.YOUR_EMAIL' | translate }}" [(ngModel)]="user.email"
          name="email" #emailInput="ngModel" email required>
        <mat-error *ngIf="emailInput.hasError('required')">{{ 'PAGE1.FIELD_NOT_EMPTY' | translate }}</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">{{ 'PAGE1.FIELD_EMAIL_INVALID' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Your birthdate" [(ngModel)]="user.dob" name='dob' required [matDatepicker]="picker"
          [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'PAGE1.YOUR_COMPANY' | translate }}" [(ngModel)]="user.company"
          #companyInput="ngModel" name="company" company required>
        <mat-error *ngIf="companyInput.hasError('required')">{{ 'PAGE1.FIELD_NOT_EMPTY' | translate }}</mat-error>
        <mat-error *ngIf="!companyInput.hasError('required')">{{ 'PAGE1.FIELD_COMPANY_INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutGap="20px">

        <div fxFlex.gt-sm="50%" fxFlex.ls-md="100%" class="pad-bottom">
          <mat-checkbox ngModel name="agree" required color="primary">
            {{ 'PAGE1.AGREE_TERMS_CONDITIONS' | translate }}
          </mat-checkbox>
        </div>
        <div fxFlex.gt-sm="50%" fxFlex.ls-md="100%" class="pad-bottom">
          <button fxFlex="45%" type="submit" mat-raised-button color="accent"
            [disabled]="f.invalid">{{ 'GENERAL.SUBMIT' | translate }}</button>
        </div>

      </div>

    </div>
  </form>
</section>